@font-face {
    font-family: Poppins;
    src: url(Fonts/Poppins-Light.ttf);
  }

@font-face {
    font-family: PoppinsBold;
    src: url(Fonts/Poppins-Medium.ttf);
  }
  
@font-face {
    font-family: PoppinsBlack;
    src: url(Fonts/Poppins-Black.ttf);
}

@font-face {
    font-family: WorkSans;
    src: url(Fonts/WorkSans-Regular.ttf);
}

::selection {
    color: none;
    background: none;
}
/* For Mozilla Firefox */
::-moz-selection {
    color: none;
    background: none;
}

nav a {
    text-decoration: none;
    }

/* link que ainda não foi visitado */
a:link {
    color: white;
    text-decoration: none;
 }
 
 /* link que foi visitado */
 a:visited {
     color: white;
     text-decoration: none;
 }
 
 /* mouse em cima do link */
 a:hover {
     color: #086154;
     text-decoration: none;
 }
 
 /* link selecionado */
 a:active {
     color: white;
     text-decoration: none;
 }

.topoECOMP{
    position: relative;
    text-align: left;
    color: white;
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 20px;
}

.tituloinicial{
    text-align: left;
    color: white;
    margin-top: 10%;
    margin-left: 2%;
    font-weight: 400px;
    line-height: 80px;
    font-family: Poppins;
    font-size: 80px;
    letter-spacing: -0.04cm;
}

.descricaoinicial{
    text-align: left;
    color: white;
    font-family: Poppins;
    margin-top: 5%;
    margin-left: 2%;
    font-weight: 500px;
    line-height: 32px;
    font-size: 24px;
}

.linksiniciais{
    font-size: 16px;
    color: white;
    font-family: Poppins;
    font-weight: 600;
    line-height: 32px;
    text-decoration: none;
    margin-top: 5%;
    text-align: right;
}

.fotos_index {
    mix-blend-mode: normal;
    border-radius: 1000px;
    object-fit:cover;
    text-align: left;
}

.titulocontato{
    text-align: center;
    margin-top: 20%;
    color: #1E8793;
    font-family: PoppinsBold;
    font-weight: 700;
    font-size: 48px;
    letter-spacing: -0.04em;
}

.titulo_pag_secundarias{
    margin-top: 150px;
    font-family: PoppinsBold;
    color: #1E8793;
    font-weight: bold;
    font-size: 47px;
}

.texto-quemsomos{
    display: flex;
    height: 65%;
    color: black;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    margin-top: 10%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 56px;

    letter-spacing: -0.04em;

    color: #000000;
}

.box-nossosvalores {
    background: #00A38F;
    border-radius: 50px;
}

.box-nossosvalores2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 217px;
    height: 217px;
    border-radius: 50%;
    background-color: white;
    margin: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.box-nossosvalores-container {
    margin-left: 5%;
    margin-right: 5%;
}

@media (max-width: 991px) {
    .texto-quemsomos{
        margin: 20%;
    }
    .box-nossosvalores {
        margin-top: 10%;
        margin-bottom: 20%;
    }
    .titulo_pag_secundarias {
        margin-top: 20%;
    }
}

.botaoinicial_left {
    cursor: pointer;

}

.botaoinicial_right {
    cursor: pointer;
}

.caixacontato {
    font-family: PoppinsBold;
    color: #00A38F;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

.caixapreenchimento {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    width: 65%;
    height: 60px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.botaoenviar {
    font-family: Poppins;
    color: white;
    background-color: #00A38F;
    border: 0px;
    margin-top: 20%;
    border-radius: 16px;
    font-size: 19px;
    padding: 25px 20%;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.informacaorodape {
    font-family: WorkSans;
    color: white;
    margin-right: 10%;
    margin-left: 10%;
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: -0.04em;
}

.titulo_valores {
    width: 111px;
    height: 56px;
    left: 214px;
    top: 2455px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 56px;
    letter-spacing: -0.04em;
    color: white;
}

.descricao_valores {
    width: 346px;
    height: 56px;
    Top: 2526px;
    Left: 102px;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: -0.04em;
    text-align: left;
    color: white;

}

.divisaoazulOQS{
    width:100%;
    height:100%;
    background-color: #00A38F;
}   
.divisaobrancaOQS{width:100%;
    height:100%;}

.tituloOQS{
        text-align: center;
        margin-top: 5%;
        color: #1E8793;
        font-family: PoppinsBold;
        font-weight: 500;
        font-size: 44px;
        letter-spacing: -0.04em;
    }
.textoembrancoOQS{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 56px;
        letter-spacing: -0.04em;
        color: #FFFFFF;}
.textopretoOQS{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 60px;
        letter-spacing: -0.04em;
        color: #080808;}
/* Card Serviços */
.card1 {
    padding: 0px 0px;
    background: #FFFFFF;
    border: 8px solid #00CC99;
    box-shadow: 12px 16px 0px #000000;
    border-radius: 30px;
    width: 80%;
    height: 580px;
    text-align:center;
    align-items: center;
    vertical-align: 50%;
}

.card1:hover {
    transform: translateY(-5px);
}

/* Card Clientes */
.circulo_clientes {
    width: 540px;
    height: 540px;
    border-radius: 50%;
    background: #FFFFFF;
    margin: 10%;
    border: 8px solid #000000;
    box-shadow: 16px 12px 0px #000000;
    text-align: center;
    align-items: center;
}

.circulo_clientes:hover {
    transform: translateY(-5px);
}

.circulo_clientes_mb {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 8px solid #000000;
    box-shadow: 16px 12px 0px #000000;
    text-align: center;
    align-items: center;
}

.circulo_clientes_mb:hover {
    transform: translateY(-5px);
}
